SourceFEWSAdapter.Core/Service References/SourceService/RiverSystem.Services.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RiverSystem.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RiverSystem.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTimeSeriesResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeSeriesResult" nillable="true" type="tns:TimeSeriesResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimeSeriesResult" nillable="true" type="tns:ArrayOfTimeSeriesResult" />
  <xs:complexType name="TimeSeriesResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Readings" nillable="true" type="tns:ArrayOfTimedResult" />
      <xs:element minOccurs="0" name="Units" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeSeriesResult" nillable="true" type="tns:TimeSeriesResult" />
  <xs:complexType name="ArrayOfTimedResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimedResult" nillable="true" type="tns:TimedResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimedResult" nillable="true" type="tns:ArrayOfTimedResult" />
  <xs:complexType name="TimedResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Result" type="xs:double" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimedResult" nillable="true" type="tns:TimedResult" />
</xs:schema>